@import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext');

* {
	// border: 1px solid red;
	margin: 0;
	padding: 0;
}

div {
	font-family: 'VT323', monospace;
	font-size: 70px;
	// transition: 0.3s;
	width: 100vw;
	height: 100vh;
	text-align: center;
	overflow-x: hidden;
}

p {
	position: relative;
  top: 42%;
	// transform: perspective(1px) translateY(-45%); 
}